<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <script src="https://kit.fontawesome.com/107eaa10f1.js" crossorigin="anonymous"></script>
    <title>Register Form</title>
</head>
<body>
  <main class="register__container">
    <form class="form">
        <header class="form__header">
          <div class="group__brand">
            <img class="brand__icon" src="../images/brand/icon.png" />
            <img class="brand__letter" src="../images/brand/letter.png" />
          </div>
            <p class="form__subtitle"> Crea tu cuenta de youtube</p>
        </header>
        <div class="form__content">
          <input type="text" class="form__input" placeholder="First name">
          <input type="text" class="form__input" placeholder="Last name">
          <input type="email" class="form__input form__input--span" placeholder="email">
          <input type="password" class="form__input" placeholder="password">
          <input type="password" class="form__input" placeholder="confirm pasword">
        </div>
        <div class="form__footer">
            <a href="javaScript:;" class="form__link">
             Login si tienes cuenta
            </a>
            <button class="form__button">
                next
            </button>
        </div>
    </form>
  </main>
</body>
</html>